body{
  background-color: red;
}
.block{
  color: black;
  padding: 15px;
  width: 340px;
  height: 120px;
  border: 5px solid blue;
    background: yellow;
  border-radius: 5px;
  font-size: 20px;
  }
.block1{
  color: black;
  padding: 15px;
  width: 700px;
  height: 125px;
  border: 5px solid blue;
  background: yellow;
  border-radius: 5px;
  font-size: 20px;
  }

.block2{
  
  color: black;
  padding: 15px;
  width: 1200px;
  height: 270px;
  border: 5px solid blue;
  background: yellow;
  border-radius: 5px;
  font-size: 20px;}
.block3{
  color: black;
  padding: 15px;
  width: 1200px;
  height: 320px;
  border: 5px solid blue;
  background: yellow;
  border-radius: 5px;
  font-size: 20px;}
  